<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Bachelor of Science (Honours) in Information Technology for Business</h1>
            <span>SEAS, Estudios Superiores Abiertos</span>
            <span><address>Zaragoza, ESP</address><time>2013 to 2016</time></span>
        </header>
        <p>
            <em>European degree from the University of Wales</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Grado superior of development of computer applications</h1>
            <span>Fundación San Valero</span>
            <span><address>Zaragoza, ESP</address><time>2010 to 2012</time></span>
        </header>
        <p>
            <em>
First prize in multidisciplinary category, by Android app for domotic control with arduino</em>
        </p>
    </article>
        <article>
        <header>
            <h1>Grado superior in Computer Systems Management</h1>
            <span>IES Tiempos Modernos</span>
            <span><address>Zaragoza, ESP</address><time>2008 to 2010</time></span>
        </header>
    </article>
        <article>
        <header>
            <h1>Grado superior of Telecommunication and computer systems</h1>
            <span>IES Río Gállego</span>
            <span><address>Zaragoza, ESP</address><time>2005 to 2007</time></span>
        </header>
    </article>
</section>
