<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Mobile Software Engineer</h1>
            <span><corp>Carreras Grupo Logístico - </corp><address>Zaragoza, ESP</address><time>2016 to Present</time></span>
        </header>
        <p>Currently i'm carrying the logistics Android apps development of the i+d and mobile department of the company.
        <br>My main task are analysis and development of technological solutions in transport and logistics areas. </p>
    </article>
    <article>
        <header>
            <h1>Software Developer</h1>
            <span><corp>Hiberus Tecnología  - </corp><address>Zaragoza, ESP</address><time>2012 to 2016</time></span>
        </header>
        <p>Experience in projects mainly with Android. Begin development of iOS projects with Objective-C and Swift. Also practice with AngularJS and Ionic.
        <br>Important projects carried out for great companies: AragonTV, Imaginarium, MAZ, Basquet Zaragoza, etc.
        </p>
    </article>
</section>
