<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/jlopezmartinez/hackathon-EventerZgz">EventerZgz</a></strong>
Winning Android project of the year 2015 hackathon in Zaragoza
Application made with MVP architecture.
<br>
Through EventerZgz you can customize your searches to easily obtain the events that interest you.
<br>
You will get all the information of the event, being able to share it in social networks, add it to your calendar, visit his website or call phone to obtain more information.
Also if you don't know how can you go to the event, EventerZgz helps you by telling you how you can you go to the event.
<br>
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/jlopezmartinez/ZgzFromWithin">ZgzFromWithin</a></strong>
Android application in development process,made with Clean Architecture, RxJava, RxAndroid.
<br>
You can get information of the most important places in Zaragoza.
		</h5>
    </div>
  </div>
</div>
</section>
